
@font-face {
    font-family: "Raleway"; 
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 800; 
    font-display: swap;
} 
@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: swap;
} 
@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap;
} 
@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 800; 
    font-display: swap;
} 

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    height:100%;
}

body{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
    flex-grow: 1;
    margin: 0 auto;
    min-height: 100%;
    min-width: none;
    flex-direction: column;
    color: #444444;
    font-style: normal;
    background-color:#FFFFFF;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.header-button{
    width: 517px;
}

.container{
    position: relative;
    width: 1160px;
    margin: 0 auto;
    /* margin-top: 3px; */
}

.nav-link-down{
    text-decoration: none;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    color:#000000;
} 

.nav-link-down:hover{
    opacity: 0.6;
}

.nav-link-down:active{
    opacity: 0.3;
}

.nav-link-down:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.navigation-link{
    display:flex;
    align-items: baseline;
    font-weight: 400;
    text-decoration: none;
    line-height: 18px;
    text-align: center;
    color:#000000;
}

.nav-link-up:hover{
    opacity: 0.6;
}

.nav-link-up:active{
    opacity: 30%;
}

.nav-link-up:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.h2-flying{
    font-family: "Raleway", sans-serif;
    width: 550px;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color:#000000;
    margin-top: 120px;
    margin-left: 0px;
    letter-spacing: 0.00576em;
    display: inline-block;
    /* margin-bottom: 0; */
}

.h2-bee{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color:#000000;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 29px;
}

.description-slider{
    font-size: 18px;
    line-height: 30px;
    margin-top: 29px;
    margin-bottom: 51px;
}

.value{
    margin-left: -5px;
    list-style-type: none;
    font-size: 36px;
    line-height: 30px;
    color:#000000;
}

.dd{
    margin: 0;
    padding: 0;
    margin-top: 14px;
    margin-left: -5px;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
}

.catalog-index{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color:#000000;
    display: flex;
    flex-direction: column;
    width: 160px;
    min-height: 160px;
}

.catalog-index:active{
    opacity: 0.3;
}

.delivery-credit-guarantee{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 280px;
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    list-style-type: none;
}

.delivery-credit-guarantee li{
    margin-bottom: 35px;
}

.delivery-credit-guarantee li:last-child{
    margin-bottom: 0;
}

.subscribe-p{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
}

.rare-product{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 26px;
    font-size: 18px;
    margin-top: 40px;
    margin-right: 110px;
    width: 910px;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.31em;
    text-transform: uppercase;
    color: #000000;
}

.icon-rare{
    position: absolute;
    top: 30px;
    right: 42px;
    opacity: 0.3;
}

.rare-container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 1160px;
    height: 100px;
    text-decoration: none;
    background-color:#F0F0F0;
}

.rare-container.picture-truck:hover{
    background-color: yellowgreen;
}


.description-to-delivery{
    display: flex;
    flex-wrap: wrap;
    width: 452px;
    font-size: 18px;
    line-height: 30px;
}

.list-description{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    width: 182px;
    padding: 0;
    color:#000000;
    /* margin-top: 28px; */
    margin-bottom: 30px;
    padding-top: 6px;
    list-style-type: none;
}

.list-description li:before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFC700;
    display: inline-block;
    margin-right: 26px;
    margin-bottom: 3px;
}

.list-description li{
    /* margin-top: 24px; */
    margin-bottom: 19px;
}

.a-description{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    padding-right: -48px;
}

.position-a-desc{
    width: 275px;
    padding-right: -8px;
    padding-top: 11px;
}

.e-mail{
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    width: 568px;
    height: 57px;
    border: 0;
    margin-right: -5px;
    /* margin-top: -25px; */
    background-color: transparent;
}

.e-mail:hover{
    background-color: #EBEBEB;
}

.e-mail:active{
    background-color: #F0F0F0;
}

.e-mail:focus{
    outline: 2px solid #AF4FFF;
}

.button-main::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 571px;
    border: 1.5px solid #c4c4c4;
    background-color: #c4c4c4;
}

.subscribe{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #000000;
    background-color: #F0F0F0;
}

.its-free{ 
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    display: block;
    white-space: nowrap;
    width: 128px;
    margin-left: 16px;
}

.addres-footer{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    padding-top: 35px;
}

.footer{
    background-color: #444444;
}

.grey-background{
    background: #F0F0F0;
}

.list-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    list-style-type: none;
    color: #FFFFFF;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-left: 117px;
    margin-top: 137px;
    display: flex;
    flex-wrap: wrap;
}

.yellow-line{
    height: 7px;
    width: 80px;    
    background-color: #FFC700;
}

.slider-1{
    width: 220px;
    margin-top: -26px;
    text-decoration: none;
    color: #000000;
}

.nav-link-opacity{ 
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    }

.breadcrumb{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}

.filter-sorting{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color:#000000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 0;
    margin: 0;
    width: 273px;
    letter-spacing: 0.2em;
}

.sorting{
    border-width: 0px;
    background-color: #FFFFFF;
}

.grey-section-catalog{
    text-decoration: none;
    width: 220px;
    background:#F0F0F0;
    color:#000000;
    z-index: 1;
}

.link-left-catalog{
    display: inline-block;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    color:#000000;
    
}

.position-left-link{
    margin-top: 45px;
    margin-left: 65px;
}

.look:before{
    position: absolute;
    content: '';
    height: 8px;
    width: 220px;
    margin-top: 6px;
    left: -50px;
    z-index: 0;
    background-color: #ffe17f;
    transition: height 0.3s;
    z-index: -1;
}

.look::before:hover{
    position: absolute;
    height: 40px;
    z-index: -1;
}

.look{
    position: absolute;
    z-index: 1;
}

.left-filter-bold{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    color:#000000;
    border-top: 2px solid #000000;
} 

.label{
    /* margin-bottom: 9px; */
    font-size: 16px;
    line-height: 19px;
}

.label input:checked ~ .square{
    border-color: #000000;
}


.label input:focus ~ .square{
    outline: 2px solid #AF4FFF;
}

.label input:checked ~ .square .yes{
    display: block;
}

.label input:disabled ~ .square,
.label input:disabled ~ .font{
    opacity: 0.1;
}

.checked{
    display: block;
}

.control-input[type="radio"]:checked ~ .circle::before{
    display: block;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000000;
}

.label .control-input[type="radio"]:disabled{
    content: '';
    border: 2px solid #CCCCCC;
}

.control:hover{
    opacity: 0,6;
}

.control:active{
    opacity: 0.3;
}

.yes{
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
}

.control-input[type="radio"]:checked,
.circle:before .yes{
    display: none
}

.circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 20px;
	height: 20px;
    margin-right: 16px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
	background: transparent;
}

.control-input[type="radio"]:checked ~ .circle{
    border-color: #000000;
}

.control-input[type="radio"]:focus ~ .circle{
    outline: 2px solid #AF4FFF;    
}

.yellow-bakground-catalog{
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFE17F;
    border: 1px solid #000000;
}

.white-background-catalog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 40px 35px; 
    background:#FFFFFF;
}

.h3{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 0;
    margin-right: auto;
    color:#000000;
}

.b{
    width: 70px;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #000000;
}

.pagination{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 0;
    padding-left: 30px;
    color: #000000;
    background-color: #FFFFFF;
}


.pages1-15{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #EBEBEB;
}

.pagination-nav{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
    margin-right: 160px;
}

.back:hover{
    background-color: #dcdcdc;
}

.back:active{
    opacity: 0.3;
}

.back:focus{
    outline: 2px solid #AF4FFF;
}

.forward:hover{
    background-color: #dcdcdc;
}

.forward:active{
    opacity: 0.3;
}

.forward:focus{
    outline: 2px solid #AF4FFF;
}

.white-background-catalog img{
    width: 360px;
    height: 380px;
}

.white-background-catalog a{
    text-decoration: none;  
}

.link{
    display: flex;
    color:#FFFFFF;
}

.a-phone{
    /* margin-top: 45px; */
    padding-left: 10px;
    font-size: 18px;
    color:#000000;
}

.site-navigation{
    display: flex;
    align-items: center;
}

.block-stats{
    margin-left: auto;
}

.catalog-header{
    display: flex;
    text-decoration: none;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-left: 3px;
    margin-top: 3px;
    letter-spacing: 0.2em;
    width: 236px;
    color:#000000;
}

.catalog-header:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.stats-market{
    display:flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 230px;
    margin: 0px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    margin-right: -19px;
}

.stats-market-li{
    padding-right: 36px;
}

.block-nav-user{
    width: 230px;
    margin-left: 26.5px;
}

.header-nav{
    /* margin-left: -6px; */
    position: relative;
    z-index: 1;
}

.header-container{
    background:#FFE17F;
    padding: 0 60px;
    border-top: 40px solid #FFFFFF;
}

.site-menu{
    width: 1160px;
    display:flex;
    padding-top: 30px;
}

.desc-h3{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* align-items: end; */
    list-style-type: none;
    padding: 0;
    margin-top: 18px;
    margin-left: 281px;
}

.nav-user{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: space-between;
    margin:0;
    padding-left: 0;
    list-style-type: none;
}
.block-login{
    margin-left: 29.5px;
    margin-right: 26.5px;
}

.block-stats-market{
    width: 240px;
    margin-left: 0;
    margin-left: auto;
}

.search-input{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 366px;
    padding: 0;
    padding: 8px 8px;
    padding-left: 48px;
    border: 2px solid #000000;
    border-radius: 50px 0px 0px 50px;
    background-color: #FFE17F;
    outline: none;
}

.search-input:focus{
    outline: 2px solid #AF4FFF;
}

.search-submit{
    display: inline-block;
    background-color: #ffe17f;
    width: 164px;
    font-size: 16px;
    padding: 0;
    margin-left: -2px;
    border: 2px solid #000000;
    border-radius: 0px 50px 50px 0px;
}

.search-submit:hover{
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.search-submit:active{
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
}

.search-submit:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.search-form{
    display: flex;
    position: relative;
}

.scope{
    position: absolute;
    top: 12px;
    left: 16px;
}

.search{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto;
}

.drop-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    border: 0;  
    padding: 0;
    background-color: transparent;
    list-style-type: none;
    cursor: pointer;
}

.nav-link{
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    padding-right: 50px;
    letter-spacing: 0.2em;
}

.nav-link:last-child{
    padding-right: 0;
}

.li:only-child{
    padding-right: 7px;
}

.li:nth-child(3){
    padding-right: 0;
}

.slider-box{
    display: flex;
    margin-top: -149px;
    margin-bottom: 70px;
}

.catalog-index-container{
    list-style-type: none;
    display: grid;
    gap: 51px 44px;
    grid-template-columns: repeat(6, 160px);
    justify-content: space-between;
    padding-left: 0;
}

.delivery{
    height: 413px;
    margin-bottom: 72px;
    background: linear-gradient(#FFFFFF 0 102px, #F0F0F0 102px 100%);
}

.contacts{
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-us{
    position: relative;
    width: 520px;
}

.title-subscribe{
    width: 348px;
    margin: 0;
    margin-top: 76px;
    margin-left: 5px;
}

.description-title{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #444444;
    padding-left: 17px;
    /* margin-left: 256px; */
    margin-top: 87px;
    margin-bottom: 147px;
}

.combine{
    display: flex;
    justify-content: space-between;
}

.button-main{
    position: relative;
}

.button-container{
    display: flex;
    padding-bottom: 56px;
}

.subscribe-button{
    font-family: "Raleway", sans-serif;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 18px 39px;
    width: 256px;
    border: 3px solid #c4c4c4;
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 21px;
}

.subscribe-button:hover{
    background-color: #EBEBEB;
}

.subscribe-button:active{
    background-color: #F0F0F0;
}

.subscribe-button:focus{
    outline: 2px solid #AF4FFF;
}

.its-free-main{
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-left: 171px;
}

.first-cont-footer{
    display: flex;
}

.phone-footer{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 105px;
}

.cont-footer-second{
    display: flex;
    justify-content: space-between;
    position: relative;
    display: flex;
    background-color: #444444;
    padding-top: 50px;
    padding-bottom: 60px;
    align-items: center;
}

.cont-footer-second:before{
    content: '';
    width: 80px;
    border: #ffc500 solid 3.5px;
    background-color: #FFC500;
}

.list-social{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: 47px;
    width: 150px;
    list-style-type: none;
}

.logo-header{
    display: block;
    margin-bottom: 30px;
    margin-top: -22px;
}

.logo-header:hover{
    opacity: 0.6;
}

.logo-header:active{
    opacity: 0.3;
}

.logo-header:focus{
    outline: 2px solid #AF4FFF;
}

.footer-logo:hover{
    opacity: 0.6;
}

.footer-logo:active{
    opacity: 0.3;
}

.footer-logo:focus{
    outline: 2px solid #AF4FFF;
}

.ending-index{
    display: flex;
    margin: 0;
}

.ending-index:focus{
    border: 0;
    outline: 2px solid #AF4FFF ;
}

.big-main-catalog{
    background-color: #F0F0F0;
}

.small-main-catalog{
    margin: 0 auto;
    display: flex;
}

.right-catalog-main{
    width: 840px;
}

.aside{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
}

.nav-catalog{
    width: 840px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
}

.first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 760px;
}

.cards{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 360px;
}

.second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 760px; 
}

.show-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 39px;
    width: 760px;
    border: 3px solid #E5E5E5;
}

.pages{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 760px;
    min-height: 71px;
    background: #EBEBEB;
}

.flex-pages{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 200px;
}

.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 128px;
    height: 71px;
    background: #EBEBEB;
}

 .forward{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 141px;
    background: #EBEBEB;
}

.flex-pagination{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
    margin-right: 151px;
}

.container-for-numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    opacity: 0.3;
    margin-right: 31px;
}

.container-for-numbers:last-of-type{
    margin-right: 0;
}

.container-for-numbers:hover{
    opacity: 1;
}

.container-for-numbers:active{
    opacity: 0.1;
}

.caontainer-for-numbers:focus{
    outline: 2px solid #AF4FFF;
}

.container-breadcrumbs-nav{
    display:flex;
    flex-direction: column;
    width: 1079px;
    margin: 0 auto;
}

.list-breadcrumbs{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.arrow-breadcrumb-first{
    position: absolute;
    top: 6px;
    left: 80px;
}

.arrow-breadcrumb-second{
    position: absolute;
    top: 6px;
    left: 243px;
}

.arrow-catalog-down{
    margin-bottom: 4px;
    margin-right: 10px;
    transform: rotate(180deg);
    opacity: 0.3;
}

.arrow-catalog-down:hover{
    opacity: 0.5;
}

.arrow-catalog-down:active{
    opacity: 1;
}

.arrow-catalog-down:focus{
    outline: 2px solid #AF4FFF;
}

.arrow-catalog-up{
    margin-bottom: 4px;
    margin-right: 10px;
    opacity: 0.3;
}

.arrow-catalog-up:hover{
    opacity: 0.5;
}

.arrow-catalog-up:active{
    opacity: 1;
}

.arrow-catalog-up:focus{
    outline: 2px solid #AF4FFF;
}

.select{
    position: relative;
    display: flex;
    align-items: center;
    /* width: 159px; */
    margin-right: auto;
    cursor: pointer;
}

.select-control{
    width: 100%;
    background-color: transparent;
    border: none;
    margin-right: 36px;
    margin-left: 65px;
    font-size: 18px;
    line-height: 30px;
}

.select:hover{
    opacity: 0,6;
}

.select:active{
    opacity: 0,3;
}
.select:focus{
    outline: 2px solid #AF4FFF;
}

.list-breadcrumbs li:last-child{
    margin: 0;
}

.main{
    min-width: none;
    position: relative;
}

.catalog-items{
    margin: 0;
    padding-left: 0;
    margin-bottom: 44px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    row-gap: 44px;
}

.flex-pagination a{
    color: #444444;
}

.container-delivery{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 70px;
}

.fieldset{
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 17px;
    margin-bottom: 4px;
    list-style-type: none;
}

.cost{
    /* margin-top: 30px; */
}

.exit{
    margin-left: 28px;
}

.basket{
    margin-left: 36px;
}

.slider-slide{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 50px;
    margin-top: 0px;
    margin-left: 2px;
}

.specifications{
    display: flex;
    margin: 0;
    padding: 0;
}

.range{
    /* width: 200px; */
    margin-left: -7px;
    margin-top: 23px;
}

.position-more{
    width: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 9.5px 0;
}

.position-show-link{
    width: 220px;
    margin-top: 35px;
}

.show-link{
    border: 0;
    width: 210px;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
}

.more{
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    margin-left: 2px;
    margin-top: 2px;
}

.more:before{
    position: absolute;
    content: '';
    height: 8px;
    background-color: #ffe17f;
    width: 100%;  
    transition: height 0.3s;
    z-index: -1;
}

.more:hover::before{
    height: 40px;
    z-index: -1;
}

.more:active::before{
    background-color: #ffcc33;
}

.more:active{
    background-color: #ffc700;
}

.more:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.photo{
    flex-grow: 1;
}

.container-description-delivery{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 116px;
    padding: 0;
    width: 100%;
}

.h3-index{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 242px;
    margin: 0;
    margin-top: 27px;
    margin-left: 15px;
}

.aside-contucts{
    position: relative;
    width: 532px;
    margin-left: 108px;
}

.h3-description{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 145px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 48px;
}

.description-huge{
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.nav-link-up{
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.description-we{
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 30px;
}

.more-info{
    position: relative;
    width: 270px;
}

.h3-contucts{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 49px;
    margin-left: 13px;
}

.description-you{
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
    color: #444444;
    margin-left: 12px;
    margin-bottom: 30px;
}

.web-market{
    width: 514px;
    margin-bottom: 30px;
}

.h3-web{
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color:#000000;
    margin: 0;
    margin-top: 36px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.description-piter{
    margin-bottom: 0;
    font-size: 18px;
    margin-bottom: 13px;
    paddi: 0px;
    /* display: flex; */
    /* flex-wrap: nowrap; */
}

.time-of-work{
    margin-top: 21px;
    margin-bottom: 30px;
}

.h3-time{
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color:#000000;
    padding-bottom: 6px;
    /* padding-right: 5px; */
    margin-left: 10px;
    margin-top: 39px;
    margin-bottom: 15px;
}

.description-list{
    padding-left: 5px;
    margin-top: 2px;
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
    color: #444444;
    padding: 0;
    padding-left: 12px;
}

.catalog{
    background-color: #F0F0F0;
    padding-bottom: 44px;
}

.catalog-container{
    display: flex;
}

.footer-logo{
    display: block;
    margin: 0;
    padding: 0;
}

.logo-end {
    fill: #FFC700;
}

.logo-end:hover svg{
    fill: #FFFFFF;
}

.logo-end:active {
    fill: #FFFFFF;
    opacity: 0.3;
}

.logo-end:focus:not(:active){
    outline: 1px solid #AF4FFF;
}

.logo-adress{
    width: 239px;
    padding-top: 62px;
}

.flex-footer{
    display: flex;
}

.list-footer li{
    margin: auto;
}

.h2-selfie{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    text-align: left;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-top: 41px;
    margin-left: 18px;
}

.catalog-image{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin-top: 8px;
    /* margin-left: 10px; */
    /* margin-right: -6px; */
    background-color: #FFE17F;
}

.catalog-image:hover{
    background-color: #FFC700;
}

.catalog-image:active{
    opacity: 0.3;
}

.catalog-image:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.hover-form{
    position: relative;
    display: flex;
    align-items: flex-start;
}

.catalog-price{
    position: relative;
}

.cards:hover .card-hover{
    display: flex;
}

.cards:hover .catalog-price{
    opacity: 0.6;
}

.card-hover{
    display: none;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 220px;
    top: 170px;
    left: 70px;
    z-index: 2;
}

.opacity-items{
    display: block;
    position: relative;
    overflow: hidden;
}

.opacity-items img{
    display: block;
    position: relative;
}

.opacity-items:hover{
    opacity: 0.2;
    outline: 1px solid #444444;
}

.delivery-form{
    display: grid;
    border: 10px solid #000000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 920px;
    height: 568px;
    background-color: #FFFFFF;
}

.modal-container{
    display: flex;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.plus-minus{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 180px;
}

.arrow-left-slider{
    left: 26px;
}

.arrow-left-slider:hover{
    opacity: 0.6;
    cursor: pointer;
}

.arrow-left-slider:active{
    opacity: 0.3;
}

.arrow-left-cslider:focus:not(:active){
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.arrow-right-slider{
    right: 0;
    margin-top: -30px;
}

.arrow-right-slider:hover{
    opacity: 0.6;
    cursor: pointer;
}

.arrow-right-slider:active{
    opacity: 0.3;
}

.arrow-right-catalog:focus:not(:active){
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.picture-truck{
    position: relative;
    padding: 35px 39px 34px 39px;
    width: 125px;
    background-color: #ffe17f;
}

.background-image{
    position: absolute;
    top: 30px;
    right: -22px;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.delivery-guy{
    background: url(../images/delivery-guy.svg) no-repeat;
}

.techno-svg{
    background: url(../images/techno-svg.svg) no-repeat;
}

.credit-image{
    background: url(../images/credit-svg.svg) no-repeat;
}

.plus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 60px;
    padding: 29px 22px 29px 22px;
    cursor: pointer;
    background-color: #F0F0F0;
}

.plus:hover{

}

.minus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 60px;
    padding: 29px 22px 29px 22px;
    cursor: pointer;
    background-color: #F0F0F0;
}

.input-between{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    background: #F0F0F0;
    border: 0;
    height: 60px;
    padding: 20px 24px 20px 24px;
}

.a-footer{
    display: flex;    
}

.a-footer:last-child{
    margin-right: 0;
}

.a-footer:hover{
    background: #FFC700;
    border-radius: 50%;
}

.a-footer:active path{
    opacity: 0.3;
}

.a-footer:active{
    border-radius: 50%;
    background-color: #FFC700;
}

.a-footer:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.number:hover{
    color:#FFC700;
}

.number:active{
    opacity: 0.3;
}

.number:focus:not(:active){
    outline: 1px solid #AF4FFF;
}

.footer-links{
    letter-spacing: 0.2em;
    margin-right: 10px;
    text-decoration: transparent;
}

.footer-links:hover{
    /* font-size: 22px; */
    color: #FFC700;
    border-bottom: 2px solid #FFC700;
}

.footer-links:active{
    opacity: 0.3;
}

.footer-links:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

a.footer-links{
    margin-right: 35px;
}

a.footer-links:last-of-type{
    /* margin-right: 0; */
}

.logo-end:hover{
    fill: #FFFFFF;
}

.triangle{
    width: 30px;
    height: 30px;
    margin: auto;
    border: 11px solid transparent;
    border-bottom: 10px solid #000000;
}

.triangle180{
    width: 30px;
    height: 30px;
    margin: auto;
    border: 11px solid transparent;
    border-bottom: 10px solid #000000;
    transform: rotate(180deg);
}

.arrow-top,
.arrow-bottom{
    background:rgba(0, 0, 0, 0.25);
    height: 7px;
    width: 4px;
}

.arrow-top{
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-bottom{
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-top::after,
.arrow-bottom::after{
    background: #000;
    content: '';
    height: 100%;
    transition: all 0.15s;
}

.list-black-white{
    position: relative;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 152px;
    padding: 0;
    z-index: 1;
    margin-top: 10px;
    color: #000000;
    background-color: transparent;
}

.list-black-white:before{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    content: '';
    top: 35%;
    height: 8px;
    width: 100%;
    z-index: -1;
    background-color: #ffe17f;
}

.current{
    position: relative;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    z-index: 1;
    display: flex;
    margin-top: 16px;
    width: 292px;
    color: #ffe17f;
    background-color: #000000;
}

.current:hover .span-black{
    color: rgba(255, 225, 127, 0.5);
}

.current:active .span-black{
    color: rgba(255, 225, 127, 0.3);
}

.current:focus{
    outline: 2px solid #AF4FFF;
}

.point-link:hover{
    opacity: 0.6;
}

.point-link:active{
    opacity: 0.3;
}

.point-link:focus{
    outline: 2px solid #AF4FFF;
}

.span-delivery{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}

.span-black{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
}

.current::before {
    display: none;
}

.p-form{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    width: 498px;
    margin: 0;
}

.font-form{
    font-family: "Rubik",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 14px;
}

.direction{
    position: relative;
    display: flex;
    flex-direction: column;
}

.escape-form{
    margin-top: 12px;
}

.escape-form:hover{
    opacity: 0.6;
}

.escape-form:active{
    opacity: 0.3;
}

.escape-form:focus:not(:active){
    outline: 2px solid #AF4FFF;
}

.container-input{
    padding: 72px 80px;

}

.escape-text{
    display: flex;
    justify-content: space-between;
}

.add-name{
    font-family: "Rubik",sans-serif;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

.color-inputs{
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px; 
    border: 0;
    height: 60px;
    background-color: #F0F0F0;
}

.red-border{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #FF3D3D;
}

.funny{
    color: #FF3D3D;
}

.name-mail{
    display: flex;
    margin-top: 42px;
}

.name{
    width: 360px;
    margin-right: 40px;
}

.form-mail{
    width: 360px;
}

.quantity{
    display: flex;
    margin-top: 42px;
    margin-bottom: 42px;
}

.what-u-need{
    width: 540px;
    margin-right: 40px;
}

.formula{
    display: flex;
    flex-direction: row;
}

.send{
    position: relative;
    width: 200px;
    border: 0;
    background-color: transparent;
}

.send:before{
    position: absolute;
    content: '';
    height: 8px;
    z-index: 1;
    left: 0;
    bottom: 8px;
    background-color: #ffe17f;
}

.send-z-index{
    z-index: 2;
}

.list-pop{
    width: 222px;
    list-style-type: none;
}

.first-child{
    width: 100px;
}

.second-child{
    width: 79px;
}

.icons{
    margin-right: 12px;
}

.counter{
    position: relative;
}

.count{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    left: -12px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.name-catalog{
    display: flex;
    padding-bottom: 16px;
}

.slider-button{
    display: flex;
    position: absolute;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 20px;
    margin-bottom: 76px;
    margin-right: -9px;
}

.slider-button:hover{
    opacity: 0.6;
}

.slider-button:active{
    opacity: 0.3;
}

.slider-button:focus{
    outline: 2px solid #AF4FFF;
}

.link-index{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color:#000000;
    text-decoration: none;
}

.link-index:active{
    opacity: 0.3;    
}

.link-index:focus{
    outline:  2px solid #AF4FFF;
}

.photo-flex{
    margin-top: 37px;
}

.point{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 20px;
    width: 16px;
    height: 16px;
    border: 0;
    background-color: transparent;
}

.point:last-child{
    margin-right: 0;
}

.point:hover{
    opacity: 0.6;
}

.point:active{
    opacity: 0.3;
}

.point:focus{
    outline: 2px solid #AF4FFF;
}

.point::before{
    width: 12px;
    flex-shrink: 0;
    height: 12px;
    content: '';
    border: 2px solid #000000;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.list-points .point-black::before{
    border: 2px solid #000000;
    background-color: #000000;
}

.list-points{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 27px;
    /* top: -23px; */
    right: px;
    /* padding-left: 42px; */
    /* margin-left: 30px; */
}

.point-link{
    text-decoration: none;
    color: inherit;
    width: 222px;
    line-height: 18px;
    margin-bottom: 10px;
}

.point-cont{
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-delivery-guarantee-credit{
    position: relative;
    width: 280px;
}

 .ul-delivery-guarantee-credit:after{
    position: absolute;
    content: '';
    right: -12px;
    top: 14px;
    height: 326px;
    width: 7px;
    background-color: #000000;
 }

.more-info:before{
    position: absolute;
    content: '';
    bottom: 30%;
    height: 8px;
    width: 270px;
    z-index: -1;
    background-color: #ffe17f;
}

.more-about-span{
    margin-left: 20px;
}

.pop-text{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: auto;
}

.text-us:before{
    padding-right: 30px;
    position: absolute;
    content: '';
    top: 35%;
    height: 8px;
    width: 260px;
    z-index: -1;
    background-color: #ffe17f;
}

.fieldset{
    /* margin-top: 38px; */
    width: 200px;
    border: 0;
    padding-bottom: 10px;
}

.iconplus-form{
    position: absolute;
    right: 21px;
    top: 58px;
}

.yellow-info-form{
    position: absolute;
    top: 0;
    right: 34px;
    height: 20px;
    width: 20px;
}

.icon-form{
    position: absolute;
    top: 58px;
    right: 20px;
}

.range-scale{
    position: relative;
    height: 2px;
    margin-bottom: 10px;
    background-color: #DCDCDC;
}

.range-bar{
    position: absolute;
    left: 0;
    width: 127px;
    height: 2px;
    background-color: #000000;
}

.range-toggle{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #000000;
    color: #000000;
    background-color: #EBEBEB;
}

.range-toggle:hover{
    border-color: rgba(0, 0, 0, 0.5);
    background-color: #EBEBEB;
}

.range-toggle:active{
    opacity: 1;
    color: #000000;
    background-color: #000000;
}

.range-toggle:focus{
    outline: 2px solid #AF4FFF;
}

.toggle-min{
    top: -8px;
    left: -4px;
    background-color: #F0F0F0;
}

.toggle-max{
    top: -8px;
    left: 116px;
    background-color: #F0F0F0;
}

.section-lists{
    position: absolute;
    display: none;
    width: 1160px;
    height: 180px;
    padding-left: 20px;
    margin: 0;
    z-index: 1;
    background-color: #FFE17F;
}

.section-lists.show{
    display: flex;
    z-index: 2;
}

.link-breadcrumbs:hover{
    opacity: 0.6;
}

.link-breadcrumbs:active{
    opacity: 0.3;
}

.link-breadcrumbs:focus{
    outline: 2px solid #AF4FFF;
}

.slider-counter{
    position: relative;
    width: 1160px;
    height: 124px;
    background-color: #ffe17f;
}

.slider-counter-number{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 32px;
    font-weight: bold;
    font-size: 180px;
    line-height: 120px;
    color: #FFFFFF;
}

.list-black-white{
    cursor: pointer;
    width: 160px;
    border: 0;
    margin-bottom: 45px;
}

.list-black-white:focus{
    outline: 2px solid #AF4FFF;
}

.list-black-white:last-child{
    margin-bottom: 0;
}

.rare-link{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 70px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    background-color: #F0F0F0;
}

.section-truck{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 100%;
    background-color: #ffe17f;
}

.info-rare{
    position: absolute;
    opacity: 0.3;
    top: 30px;
    right: 22px;
}

.rare-link:hover .section-truck{
    background-color: #ffc700;
}

.rare-link:hover .info-rare{
    opacity: 1;
}

.rare-link:active{
    opacity: 0.3;
}

.rare-link:focus{
    outline: 2px solid #AF4FFF;
}

.catalog-plus{
    margin-left: 11px;
    opacity: 0.3;
    margin-top: 2px;
}

.catalog-minus{
    display: none;
    margin-left: 15px;
    opacity: 0.3;
}

.drop-btn.show .catalog-plus{
    display: none;
}

.drop-btn.show .catalog-minus{
    display: flex;
}

.drop-btn:hover .catalog-plus,
.drop-btn:active .catalog-plus{
    opacity: 1;
}

.drop-btn:hover .catalog-minus,
.drop-btn:active .catalog-minus{
    opacity: 1;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

.range-input{
    width: 100%;
    border: 0;
    background-color: transparent;
}

.range-wrapper-inputs{
    position: relative;
    display: flex;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
    margin-top: 7px;
    margin-left: -8px;
}

.catalog-filter-label{
    display: flex;
    width: 50%;
}

.range-input-max{
    width: 50%;
}

.range-input-min{
    width: 50%;
}

.square {
    position: absolute;
	width: 20px;
	height: 20px;
    margin-right: 16px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
	background: transparent;
}


.font{
    padding-left: 32px;
    padding-bottom: 8px;
}

.current-circle{
    position: absolute;
	width: 20px;
	height: 20px;
    margin-right: 16px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
	background: transparent;
}

legend{
    padding: 0;
}

.yellow-form-link:hover ~ .pop-down{
    display: block;
}

.pop-down{
    display: none;
    position: absolute;
    width: 200px;
    background-color: #000000;
}

.pop-down::before{
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    right: 56px;
    width: 14px;
    height: 6px;
    background: url(../images/triangle.svg);
}

.form-text-pop{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin: 19px 17px 19px 17px;
    color: #FFFFFF;
}

.counter:hover ~ .pop-over,
.pop-over:hover{
    display: block;
}

.pop-over{
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 320px;
    background: #000000;
}

.pop-text{
    color: #FFFFFF;
    size: 16px;
    line-height: 20px;
}

.background-pop{
    position: absolute;
    left: -20px;
    width: 320px;
    height: 100%;
    background-color: #1A1A1A;
}

.escape-pop{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    border: 0;
    margin-top: 20px;
    height: 10px;
    width: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/close-pop.svg);
    cursor: pointer;
}

.cart-opacity{
    display: flex;
}

.cart-opacity:hover{
    opacity: 0.6;
}

.cart-opacity:active{
    opacity: 0.3;
}
.cart:focus{
    outline: 2px solid #AF4FFF;
}

.escape-pop-second{
    position: absolute;
    padding: 0;
    margin: 0;
    margin-top: 94px;
    margin-right: 20px;
    top: 0;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../images/close-pop.svg);
    cursor: pointer;
}

.escape-pop-second:hover{
    opacity: 0.6;
}

.escape-pop-second:active{
    opacity: 0.3;
}

.escape-pop-second:focus{
    outline: 2px solid #AF4FFF;
}

.escape-pop:hover{
    opacity: 0.6;
}

.escape-pop:active{
    opacity: 0.3;
}

.escape-pop:focus{
    outline: 2px solid #AF4FFF;
}

.close-pop{
    position: absolute;
    width: 15px;
    height: 3px;
    z-index: 1;
    color: #FFFFFF;
}

.cart{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.first-cart:hover{
    opacity: 0.6;
}

.first-cart:active{
    opacity: 0.3;
}

.first-cart:focus{
    outline: 2px solid #AF4FFF;
}

.first-cart img{
    margin-top: 20px;
}

.second-cart{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
} 

.second-cart:hover{
    opacity: 0.6;
}

.second-cart:active{
    opacity: 0.3;
}

.second-cart:focus{
    outline: 2px solid #AF4FFF;
}

.second-cart img{
    margin-top: 20px;
}

.container-pop{
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-pop{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    border: none;
    padding: 14.5px 23px;
    background-color: #FFFFFF;
}

.btn-pop:hover{
    background-color: #FFE17F;
}

.btn-pop:active{
    color: rgba(0, 0, 0, 0.3);
    background-color: #FFE17F;
}

.btn-pop:focus{
    outline: 2px solid #AF4FFF;
}

.btn-open{
    padding-bottom: 20px;
}

.outcame{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-outcame{
    display: inline-block;
    color: #FFFFFF;
    z-index: 1;
}

.inactive{
    display: none;
}

.link-breadcrumbs{
    position: relative;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.link-breadcrumbs a{
    text-decoration: none;
    color: inherit;
}

.link-breadcrumbs:after{
    opacity: 0.3;
    content: '';
    width: 4px;
    height: 7px;
    margin-left: 16px;
    margin-right: 16px;;
    background: url(../images/arrow-breadcrumb.svg)  no-repeat center;
}

.link-breadcrumbs:last-child::after{
    display: none;
}

.general-form:hover{
    background-color:#DCDCDC;
}

.general-form:focus{
    outline: 2px solid #AF4FFF;
}

.show-more:hover{
 border: 3px solid #000000;
}

.show-more:active{
    opacity: 0.3;
} 

.show-more:focus{
    outline: 2px solid #AF4FFF;
}

.login-name{
    opacity: 0.3;
    margin-left: 40px;
}

.go-pro-back{
    margin-top: 50%;
    width: 72px;
    height: 165px;
    background: url(../images/gopro-yellow.svg) no-repeat;
}

.vr-back{
    position: absolute;
    top: 50%;
    transform: translateY(-39%);
    width: 97px;
    height: 55px;
    background: url(
    ../images/vr-yellow.svg) no-repeat;
}

.mono-back{
    margin-top: 43px;
    margin-left: 37px;
    width: 118px;
    height: 117px;
    background: url(../images/selfie-yellow.svg) no-repeat;
}

.bracelete-back{
    margin-top: 60px;
    margin-left: 26px;
    width: 135px;
    height: 125px;
    background: url(../images/bracelet-yellow.svg) no-repeat;
}

.copter-back{
    margin-top: 52px;
    margin-left: 14px;
    width: 140px;
    height: 118px;
    background: url(../images/copter-yellow.svg) no-repeat;
}

.smart-back{
    margin-top: 39px;
    margin-left: 52px;
    width: 117px;
    height: 135px;
    background: url(../images/smart-watch-yellow.svg) no-repeat;
}

.font:focus{
    border: 2px solid #AF4FFF;
}

.control:focus{
    border: 2px solid #AF4FFF;
}


.second-range{
    margin-left: 29px;
    margin-top: 23px;
}

.about-us::before{
    content: '';
    display: flex;
    width: 87px;
    height: 9px;
    margin-top: 2px;
    margin-left: -3px;
    border: 1px solid #000000;
    top: -3px;
    right: 0;
    background-color: #000000;
}

.aside-contucts::before{
    content: '';
    display: flex;
    width: 85px;
    height: 8px;
    margin-top: 3px;
    margin-left: 11px;
    border: 1px solid #000000;
    top: -3px;
    right: 0;
    background-color: #000000;
}

.description-copter{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.002em;
    margin-top: -8px;
}

.number{
    margin-top: 20px;
}

.fieldset{
    margin-top: 32px;
}

.fieldset li{
    margin-bottom: 12px;
}