@font-face {
    font-family: "Raleway"; 
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 800; 
    font-display: swap;
} 
@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: swap;
} 
@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap;
} 
@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 800; 
    font-display: swap;
} 

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    height:100%;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 24px;
    flex-grow: 1;
    margin: 0 auto;
    min-height: 100%;
    min-width: none;
    flex-direction: column;
    color: #444444;
    font-style: normal;
    background-color:#FFFFFF;
}

.header-button{
    width: 517px;
}

.nav-link-down {
    text-decoration: none;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    color:#000000;
} 

.background-delivery-car {
    background-color:#F0F0F0;
    width: 1160px;
    display: flex;
    margin:0 auto;
    justify-content: center;
    margin-top: 70px;
}

.nav-link {
    font-weight: 400;
    text-decoration: none;
    line-height: 18px;
    text-align: center;
    color:#000000;
}

.h1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color:#000000;
}

.description-copter {
    font-size: 18px;
    line-height: 30px;
}

.value {
    font-size: 36px;
    line-height: 30px;
    color:#000000;
}

.td {
    font-size: 16px;
    line-height: 30px;
}

.catalog-index {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color:#000000;
    display: flex;
    flex-direction: column;
    width: 160px;
}

.delivery-credit-guarantee {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    width: 287px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.rare-product {
    font-size: 18px;
    line-height: 30px;
}

.description-to-delivery {
    font-size: 18px;
    line-height: 30px;
}

.description {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.list-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color:#000000;
}

.a-description {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
}

.e-mail {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    width: 557px;
}

.subscribe {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #F0F0F0;
}

.its-free {
    font-size: 18px;
    line-height: 30px;
}

.addres-footer {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer {
    background-color: #444444;
}

.grey-background {
    background: #F0F0F0;
}

.list-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.yellow-line {
    height: 7px;
    width: 80px;    
    background-color: #FFC700;
}

.slider-1 {
    text-decoration: none;
    color: #000000;
}

.nav-link-opacity { 
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    }

.breadcrumb {
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}

.filter-sorting {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color:#000000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 0px;
    width: 273px;
    left: 60px;
}

.grey-section-catalog {
    background:#F0F0F0;
    text-decoration: none;
    color:#000000;
}

.link-left-catalog {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#000000;
}

.left-filter-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color:#000000;
    height: 95px;
    left: 60px;
    top: 104px;
}

.label {
    font-size: 16px;
    line-height: 19px;
}

.yellow-bakground-catalog {
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFE17F;
    border: 1px solid #000000;
}

.white-background-catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 40px 35px; 
    width: 840px;
    background:#FFFFFF;
}

.h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color:#000000;
}

.b {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.pagination {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}


.pages1-15 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #EBEBEB;
}

.pagination-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.white-background-catalog img {
    width: 360px;
    height: 380px;
}

.white-background-catalog a {
    text-decoration: none;  
}

footer a {
    color:#FFFFFF;
}

.a-phone{
    color:#000000;
}

.container{
    width:1160px;
    margin: 0 auto;
}

.site-navigation{
    display: flex;
    align-items: center;
}

.stats-market{
    display:flex;
}

.header-container{
    background:#FFE17F;
    padding: 0 60px;
}

.site-menu{
    display:flex;
}

.nav-list{
    width: 747px;
    display: flex;
    justify-content:flex-end
}

.nav-user{
    display: flex;
    width: 230px;
}

.nav-link{
    width: 240px;
    justify-content: flex-end;
}

.search-form{
    width: 517px;
}

.index-catalog{
    width: 293px;
}

.slider-box{
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.catalog-index-container{ 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 0;
    width: 1160px;
}

.container-delivery{
    background-color: #F0F0F0;
}

.delivery-credit-guarantee{
    width: 287px;
    align-items: center;
}

.background-delivery{
    background-color:#F0F0F0;
}

.contacts{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-us{
<<<<<<< Updated upstream
    margin-right: 108px;
=======
    width: 520px;
>>>>>>> Stashed changes
}

.title-subscribe{
    width: 348px;
}

.description-title{
    width: 560px;
    margin-left: 252px;
    margin-top: 74px;
    margin-bottom: 144px;
    margin-right: 133px;
    font-family: Rubik;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.combine{
    display: flex;
}

.button-container{
    display: flex;
    padding-bottom: 56px;
}

.subscribe-button{
    justify-content: center;
    align-items: center;
    padding: 18px 39px;
    position: static;
    width: 253px;
    left: 557px;
    top: 0px;
    border: 3px solid #CECECE;
}

.its-free-main{
    display: flex;
    align-items: center;
    padding-left: 188px;
    width: 160px;
    left: 998px;
    top: 13.5px;
}

.footer-width{
    width: 1160px;
    margin: 0 auto;
}

.list-footer{
    display: flex;
    width: 444px;
    left: 491px;
    top: 137px;
}

.first-cont-footer{
    display: flex;
}

.phone-footer{
    width: 174px;
    left: 1125px;
    top: 140px;
}

.cont-footer-second{
    display: flex;
    background-color: #444444;
}

.list-social{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0 266px 230px;
}

.logo-end{
    padding-left: 390px;
}

.big-main-catalog{
    background-color: #F0F0F0;
}

.small-main-catalog{
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.right-catalog-main{
    width: 840px;
}

.aside{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 60px;
}

.nav-catalog{
    width: 840px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
    left: 0px;
    top: 0px;
}

.first-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 760px;
    left: 40px;
    top: 70px;
}

li .item_1-4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 360px;
    height: 452px;
    left: 0px;
    top: 0px;
    margin: 0px 40px;
}

.second-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 760px;
    left: 40px;
    top: 70px; 
}

.show-more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 39px;
    width: 760px;
    border: 3px solid #E5E5E5;
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0px;
    width: 760px;
    height: 71px;
    left: 40px;
    top: 1161px;
    background: #EBEBEB;
}

.flex-pages{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 200px;
    left: 273.5px;
    top: 15.5px;
}

.back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 128px;
    height: 71px;
    left: 0px;
    top: 0px;
    background: #EBEBEB;
}

 .forward{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 141px;
    left: 619px;
    top: 0px;
    background: #EBEBEB;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 200px;
    left: 273.5px;
    top: 15.5px;
}

.container-for-numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 40px;
    left: 120px;
    top: 0px;
}

.container-breadcrumbs-nav{
    display:flex;
    flex-direction: column;
    width: 1079px;
    margin: 0 auto;
}

.list-breadcrumbs{
    display: flex;
    margin: 0;
    padding: 0;
}

.main{
    min-width: none;
}

.catalog-items{
    padding-left: 0;
}

.flex a{
    color: #444444;
}

.container-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    width: 1160px;
    left: 140px;
    top: 0px;
    margin-top: 70px;
}
