    @font-face {
        font-family: "Raleway"; 
        src: url("../fonts/raleway/raleway-800.woff2") format("woff2"); 
        font-style: normal; 
        font-weight: 800; 
        font-display: swap;
    } 
    @font-face {
        font-family: "Rubik"; 
        src: url("../fonts/rubik/rubik-400.woff2") format("woff2"); 
        font-style: normal; 
        font-weight: 400; 
        font-display: swap;
    } 
    @font-face {
        font-family: "Rubik"; 
        src: url("../fonts/rubik/rubik-700.woff2") format("woff2"); 
        font-style: normal; 
        font-weight: 700; 
        font-display: swap;
    } 
    @font-face {
        font-family: "Rubik"; 
        src: url("../fonts/rubik/rubik-800.woff2") format("woff2"); 
        font-style: normal; 
        font-weight: 800; 
        font-display: swap;
    } 

    html{
        height:100%;
    }

    body {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        display: flex;
        flex-direction: column;
        color: #444444;
        font-style: normal;
        background-color:#FFFFFF;
    }

    .main-container{
        flex-grow:1;
        width: 1440px;
    }

    .first-container{
        display: flex;
    }

    .second-container{
        margin: 0 auto;
        display:flex;
        justify-content: flex;
    }

    .header-nav{
        width: 1040px;
        color:#000000;
        margin: 0 auto;
    }

    .header-button{
        margin: 0;
        padding: 0;
        display: flex;
        width: 517px;
    }

    .nav-user{
        margin: 0;
        padding: 0;
        display: flex;
        width: 230px;
    }

    .stats-market{
        margin: 0;
        padding: 0;
        display: flex;
        width: 240px;
    }

    .catalog{
        width: 293px;
    }

    .nav-list{
        justify-content: flex-end;
        width: 471px;
    }

    ul.nav.list {
        display: flex;
        align-items: flex-end;
    }

    .nav-link-down {
        text-decoration: none;
        line-height: 21px;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        color:#000000;
    } 

    .nav-link {
        font-weight: 400;
        text-decoration: none;
        line-height: 18px;
        text-align: center;
        color:#000000;
    }

    /*
        .background-header{
        width: 1160px;
        height: 300px;
        left: 140px;
        top: 40px;
        background-color: #FFE17F;
    }
    */

    .h1 {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 50px;
        color:#000000;
    }
    
    .description-copter {
        font-size: 18px;
        line-height: 30px;
    }

    .value {
        font-size: 36px;
        line-height: 30px;
        color:#000000;
    }

    .td {
        font-size: 16px;
        line-height: 30px;
    }

    .catalog-index {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        color:#000000;
    }

    .delivery-credit-guarantee {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
    }

    .h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 50px;
        line-height: 50px;
        color: #000000;
    }

    .rare-product {
        font-size: 18px;
        line-height: 30px;
    }

    .description-to-delivery {
        font-size: 18px;
        line-height: 30px;
    }

    .description {
        font-size: 18px;
        line-height: 30px;
        color: #444444;
    }

    .list-description {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color:#000000;
    }

    .a-description {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #000000;
    }

    .e-mail {
        font-family: inherit;
        font-size: 18px;
        line-height: 30px;
    }

    .subscribe {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .its-free {
        font-size: 18px;
        line-height: 30px;
    }

    .addres-footer {
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .footer {
        background-color: #444444;
    }

    .grey-background {
        background: #F0F0F0;
    }

    .list-footer {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .yellow-line {
        height: 7px;
        width: 80px;    
        background-color: #FFC700;
    }

    .slider-1 {
        text-decoration: none;
        color: #000000;
    }

    .nav-link-opacity { 
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        }
    
    .breadcrumb {
        font-size: 16px;
        line-height: 19px;
        color:#000000;
    }

    /*
    .breadcrumb li::before {
    }
    */

    .filter-sorting {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color:#000000;
    }

    .grey-section-catalog {
        background:#F0F0F0;
        text-decoration: none;
        color:#000000;
    }

    .link-left-catalog {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color:#000000;
    }

    .left-filter-bold {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color:#000000;
    }

    .label {
        font-size: 16px;
        line-height: 19px;
    }

    .yellow-bakground-catalog {
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #FFE17F;
        border: 1px solid #000000;
    }

    .white-background-catalog {
     background:#FFFFFF;
    }

    .h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color:#000000;
    }

    .b {
        font-size: 18px;
        line-height: 21px;
        text-align: right;
    }

    .pagination {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #000000;
    }


    .pages1-15 {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        background: #EBEBEB;
    }

    .pagination-nav {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #000000;
    }

    .white-background-catalog img {
        width: 360px;
        height: 380px;
    }

    .white-background-catalog a {
        text-decoration: none;  
    }

    footer a {
        color:#FFFFFF;
    }

    .background-delivery {
        background-color:#F0F0F0;
    }

    .a-phone{
        color:#000000;
    }

    .specifications{
    display: flex;
    }

